<div class="container">
    <div class="row">
      <div class="col-sm d-flex justify-content-center">
        <button
          mat-raised-button
          color="primary"
          class="button-width--md"
          (click)="openTimelineForCheck()"
        >
          Send Data for check
        </button>
      </div>
      <div class="col-sm d-flex justify-content-center">
        <button
          mat-raised-button
          color="warn"
          class="button-width--md"
          (click)="openQuestionaireDialog()"
        >
          Tested COVID-19 Positive
        </button>
      </div>
    </div>
  </div>