<small>
  <div class="alert alert-light" role="alert">
    <p>
      Based on
      <a href="https://www.google.com/maps/timeline?pb" target="_blank">
        Google Maps Timeline</a
      >
      service data, below are your visited placed within 3 weeks
      period. You can review your location list, you can either add or remove
      places before sending.
    </p>
    <hr />

    There are two ways of sending data:
    <ul>
      <li>
        Check if you been in places where others who tested positive been. All
        currently known general public advice are kept into account (i.e. how
        long virus survives, etc.). By pressing
        <span [style.color]="'blue'">&quot;Send Data for check&quot;</span> you
        send ONLY location coordinates and from/to times, no sensitive data is
        sent. <u>This method does not store any data on our servers.</u>
      </li>
      <li>
        If you tested positive for COVID-19 your
        <u
          >3 week location data (latitude, longitude, from, to,
          <strong>no private data</strong>) will be stored on our servers</u
        >
        for later referencing check-up queries. After pressing
        <span [style.color]="'red'">&quot;Tested COVID-19 positive&quot;</span>
        you will get additional questions on testing you been performed.
      </li>
    </ul>
  </div>
</small>
