.margin-medium {
  margin-bottom: 50px;
}

tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

table {
  height: 150px;
  table-layout: fixed;
}

tbody {
  overflow-y: scroll;
  height: 150px;
  position: absolute;
}

table th,
table td {
  overflow: hidden;
}

.column {
  &-1 {
    width: 10%;
  }
  &-2 {
    width: 45%;
  }
  &-3 {
    width: 45%;
  }
}

.risk {
  &--high {
    background-color: #d6454f;
  }
  &--medium {
    background-color: #e4858c;
  }
  &--low {
    background-color: #fae8ea;
  }
}

.no-margin {
  margin: 0px;
  padding: 0px;
}

.scores {
  margin: 0 20px;
}

.recommendations {
  margin-bottom: 0;
}

.questionmark {
  margin-left: 5px;
}

.pointer-link {
  cursor: pointer;
}

.coordinates {
  padding-left: 70px;
}

.time-range {
  padding-left: 20px;
}
