.pointer-link {
  cursor: pointer;
}

.icon {
  &--left {
    padding-left: 10px;
  }
  &--right {
    &-medium {
      padding-right: 10px;
    }
    &-large {
      padding-right: 50px;
    }
    &-small {
      padding-right: 5px;
    }
  }
}

.add-location--padding {
  padding-top: 20px;
}

tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

table {
  height: 200px;
}

tbody {
  overflow-y: scroll;
  height: 200px;
  position: absolute;
}

table th,
table td {
  overflow: hidden;
}

.timeline {
  margin: 0 20px;
}
