<small
  ><table class="table table-hover table-sm text-center ">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Latitude, Longitude</th>
        <th scope="col">Time from - to</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loc of interestLocations">
        <td>
          <span class="pointer-link icon--right" (click)="remove(loc)"
            ><fa-icon [icon]="faTrash"></fa-icon>
          </span>
          <span class="pointer-link icon--left" (click)="update(loc)"
            ><fa-icon [icon]="faEdit"></fa-icon>
          </span>
        </td>
        <td>
          {{
            loc.lat
              | coordinates: transformationType.toDegree:direction.Latitude
          }},
          {{
            loc.lon
              | coordinates: transformationType.toDegree:direction.lontitude
          }}
        </td>
        <td>
          {{ loc.from | date: "short" }} -
          {{ loc.to | date: "short" }}
        </td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <span (click)="add()" class="pointer-link"
      ><fa-icon [icon]="faPlus" class="icon--right-small"></fa-icon
      ><u>Add New Location with Time</u></span
    >
  </p>
</small>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-primary btn-sm btn-block"
        (click)="checkLocations()"
      >
        Send Data for check
      </button>
    </div>
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-danger btn-sm btn-block"
        (click)="openQuestionaireDialog()"
      >
        Tested COVID-19 Positive
      </button>
    </div>
  </div>
</div>
