<ng-container
  *ngIf="isTimelineExist && !isBusy && !isError && !isSubmitSuccess"
>
  <small>
    <div class="overflow: auto">
      <table class="table table-hover table-sm">
        <thead class="text-center">
          <tr>
            <th scope="col">Latitude, Longitude</th>
            <th scope="col">Time from - to</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loc of interestLocations">
            <td>
              <span
                class="pointer-link icon--right-medium"
                (click)="remove(loc)"
                ><fa-icon [icon]="faTrash"></fa-icon>
              </span>
              <span
                class="pointer-link icon--left icon--right-large"
                (click)="update(loc)"
                ><fa-icon [icon]="faEdit"></fa-icon>
              </span>

              {{
                loc.lat
                  | coordinates: transformationType.toDegree:direction.Latitude
              }},
              {{
                loc.lon
                  | coordinates: transformationType.toDegree:direction.lontitude
              }}
            </td>
            <td>
              {{ loc.from | date: "short" }} -
              {{ loc.to | date: "short" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="text-right add-location--padding">
      <strong
        ><span (click)="add()" class="pointer-link"
          ><fa-icon [icon]="faPlus" class="icon--right-small"></fa-icon
          ><u>Add New Location with Time</u></span
        ></strong
      >
    </p>
  </small>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button
          mat-raised-button
          color="primary"
          class="button-width"
          (click)="checkLocations()"
          [disabled]="interestLocations?.length < 1"
        >
          Send Data for check
        </button>
      </div>
      <div class="col-sm">
        <button
          mat-raised-button
          color="warn"
          class="button-width"
          (click)="openQuestionaireDialog()"
          [disabled]="interestLocations?.length < 1"
        >
          Tested COVID-19 Positive
        </button>
      </div>
    </div>
  </div>
</ng-container>

<mat-spinner
  style="margin:0 auto;"
  mode="indeterminate"
  *ngIf="isBusy && !isError"
></mat-spinner>

<mat-card *ngIf="!isTimelineExist && !isBusy && !isError"
  ><small>
    "Privacy VS Germs" works only if you have your Google Timeline (Location
    history) enabled. Steps how to enable it on various devices can be found
    <a
      href="https://support.google.com/maps/answer/6258979?co=GENIE.Platform%3DAndroid&hl=en"
      >here</a
    >. If it is the case, it is required to have at-least one location in past 3
    weeks to be present in order to do checks.
  </small></mat-card
>

<mat-card *ngIf="isError"
  ><small>
    In order to use "Privace VS Germs" service you need to login to one of
    Google services (i.e. Gmail, Google Maps, Youtube, etc.) You can do this by
    opening new tab in Google Chrome and using standard login to Google actions.
    Plugin Will detect that you have logged in and will be able to extract
    required data.
  </small></mat-card
>