<app-information *ngIf="!showResults && !showThankYou"></app-information>
<app-startpage
  *ngIf="!showTimeline && !showResults && !showThankYou"
  (questionaireSubmit)="openTimeline($event)"
></app-startpage>

<div class="mainframe">
  <app-timeline
    [questionaire]="testedPositiveQuestionaire"
    *ngIf="showTimeline"
    (checkDataSubmit)="handleCheckDataSubmit($event)"
    (testedPositiveDataSubmit)="handleTestedPositiveDataSubmit()"
  ></app-timeline>
  <app-results *ngIf="showResults" [results]="eventResults"></app-results>

  <div *ngIf="showThankYou" class="thank-you">
    <p class="text-center">
      <strong>
        <h1><fa-icon [icon]="faHeart" class="icon"></fa-icon></h1>
        <h3>Thank you for your collaboration!</h3>
      </strong>
    </p>
  </div>
</div>
