<small>
  <div mat-dialog-content>
    <form>
      <mat-form-field floatPlaceholder="always">
        <mat-label> Type of taken test:</mat-label>
        <input matInput style="display: none" />
        <mat-checkbox
          color="warn"
          [(ngModel)]="data.isOfficialTest"
          name="isOfficialTest"
          class="top-margin--small"
          ><small>Nasal and Throat swab RT-PCR</small></mat-checkbox
        >
        <mat-hint
          >Information about
          <a
            href="https://www.nejm.org/doi/10.1056/NEJMc2004973"
            target="_blank"
          >
            Nasal and Throat swab RT-PCR</a
          >
          test.</mat-hint
        >
      </mat-form-field>

      <mat-form-field class="top-margin--small">
        <mat-label>Date of positive test</mat-label>
        <input
          matInput
          [(ngModel)]="data.time"
          name="positiveTestDate"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- TODO email -->
      <mat-form-field>
        <mat-label>Your email</mat-label>
        <input
          matInput
          placeholder="nam@example.com"
          [(ngModel)]="data.email"
          name="email"
        />
        <mat-hint>
          After submit we will send confirmation email to you to ensure that
          data is valid.</mat-hint
        >
      </mat-form-field>

      <div class="container top-margin--large">
        <div class="row">
          <div class="col-sm">
            <button
              type="button"
              class="btn btn-primary btn-sm btn-block"
              [mat-dialog-close]="data"
              cdkFocusInitial
            >
              Submit
            </button>
          </div>
          <div class="col-sm">
            <button
              type="button"
              class="btn btn-danger btn-sm btn-block"
              (click)="cancel()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</small>
