.top-margin {
  &--large {
    margin-top: 50px;
  }
  &--medium {
    margin-top: 15px;
  }
  &--small {
    margin-top: 5px;
  }
}

.bottom-margin {
  margin-bottom: 10px;
}

.button-width {
  width : 12em;
}