<small>
  <div mat-dialog-content>
    <form>
      <p>Information about location:</p>
      <mat-form-field class="top-margin--small">
        <mat-label>Date and Time</mat-label>
        <input
          matInput
          [owlDateTime]="dtRange"
          [owlDateTimeTrigger]="dtRange"
          [(ngModel)]="data.timeRange"
          name="dtRange"
          [selectMode]="'range'"
          placeholder="From - To"
        />
        <owl-date-time #dtRange></owl-date-time>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input
          matInput
          [(ngModel)]="data.latitude"
          name="latitude"
          placeholder="e.g. 13.3646789"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input
          matInput
          [(ngModel)]="data.longitude"
          name="longitude"
          placeholder="e.g. -13.3646789"
        />
        <mat-hint class="text-justify">
          Check your places coordinates at
          <a
            href="https://support.google.com/maps/answer/18539?co=GENIE.Platform%3DDesktop&hl=en"
            target="_blank"
          >
            Google Support Page</a
          >
        </mat-hint>
      </mat-form-field>

      <div class="container top-margin--large">
        <div class="row">
          <div class="col-sm">
            <button
              mat-raised-button
              color="primary"
              class="button-width--sm"
              [mat-dialog-close]="data"
            >
              Add
            </button>
          </div>
          <div class="col-sm top-margin--small">
            <button
              mat-raised-button
              color="warn"
              class="button-width--sm"
              (click)="cancel()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</small>
